/node_modules/
/.vscode/
/.idea/
# Generated code
/gramjs/
/docs/
/gramjs/tl/functions/
/gramjs/tl/types/
/gramjs/tl/patched/
/gramjs/tl/alltlobjects.py
/gramjs/errors/rpcerrorlist.py

# User session
*.session
usermedia/

# Quick tests should live in this file
example.js

# dotenv
.env

settings