/node_modules/
/.vscode/
/.idea/
# Generated code
/docs/

# User session
*.session
usermedia/

# Quick tests should live in this file
example.js

# dotenv
.env

settings

/browser/

.babelrc
.eslintignore
.eslintrc.json
/examples/
