@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}

.Spinner {
  --spinner-size: 2rem;

  display: block;
  width: var(--spinner-size);
  height: var(--spinner-size);

  background-image: url('../assets/spinner-blue.svg');
  background-repeat: no-repeat;
  background-size: 100%;

  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  &.white {
    background-image: url('../assets/spinner-white.svg');
  }
  &.blue {
    background-image: url('../assets/spinner-blue.svg');
  }
  &.black {
    background-image: url('../assets/spinner-black.svg');
  }
}
